section.cause-section
  .cause-section__inner

    h2.cause-section__title.animateBlockDown
      span.text-red 8 причин 
      |начать бизнес 
      br
      |на маркетплейсах в 2022 году

    .cause-section__description.animateBlockLeft
      span Маркетплейсы работают давно и успели стать неотъемлемой частью жизни многих людей, 
      br
      |но при этом до сих пор продолжают расти. Например, товарооборот на площадках за 2021 год 
      |вырос от 95% до 542% в зависимости от площадки, что открывает возможность новым игрокам зайти в сферу.

    .cause-section__info
      ul
        li.animateBlockLeft
          .cause-section__info-img
            img(src="images/cause-info-img-1.jpg" loading="lazy" alt="image" width="458" height="297").d-block
          .cause-section__info-text
            .cause-section__info-text-title
              |01. Работа без офиса и штата
            .cause-section__info-text-about
              |Франшизой обеспечивается фулфилмент 
              br
              |сервис, поэтому наличие собственных складов 
              br
              |и сотрудников не требуется. 
              span Фулфилмент 
                br
                |VOLTRON в 7 раз дешевле затрат на ФОТ 
                br
                |и аренду.
        li.animateBlockRight
          .cause-section__info-img
            img(src="images/cause-info-img-2.jpg" loading="lazy" alt="image" width="457" height="297").d-block
          .cause-section__info-text
            .cause-section__info-text-title
              |02. Свободный график
            .cause-section__info-text-about
              |Все операционные задачи будут выполняться 
              br
              |командной центрального офиса, 
              span вам остаётся 
                br
                |согласовывать товар для закупки и вести 
                br
                |финансы. 
              |Такой подход позволяет работать 
              br
              |по свободному графику.
        li.animateBlockLeft
          .cause-section__info-img
            img(src="images/cause-info-img-3.jpg" loading="lazy" alt="image" width="458" height="297").d-block
          .cause-section__info-text
            .cause-section__info-text-title
              |03. Доступные вложения
            .cause-section__info-text-about
              |Размер прибыли напрямую зависит от объёма 
              br
              |товарооборота. При этом начать можно 
              br
              |с минимальными инвестициями, 
              span например, 
                br
                |товарный запас на 150 000 рублей принесёт 
                br
                |400 000 рублей прибыли.
        li.animateBlockRight
          .cause-section__info-img
            img(src="images/cause-info-img-4.jpg" loading="lazy" alt="image" width="457" height="297").d-block
          .cause-section__info-text
            .cause-section__info-text-title
              |04. Высокая наценка
            .cause-section__info-text-about
              |В отличии от производств или других сфер 
              br
              |бизнеса, 
              span на маркетплейсах можно продавать 
              br
              span с наценкой от 150% до 1000%. 
              |Так можно 
              br
              |достигнуть финансовых целей без больших 
              br
              |вложений.
        li.animateBlockLeft
          .cause-section__info-img
            img(src="images/cause-info-img-5.jpg" loading="lazy" alt="image" width="458" height="297").d-block
          .cause-section__info-text
            .cause-section__info-text-title
              |05. Развивающий тренд онлайн-торговли
            .cause-section__info-text-about
              span Объём продаж через маркетплейсы постоянно 
                br
                |растёт (493 млн заказов за 1 квартал 2022 г.), 
              |что даёт возможность входить в нишу новым 
              br
              |игрокам и повышать товарооборот действующим, 
              br
              |чтобы удовлетворить спрос рынка.
        li.animateBlockRight
          .cause-section__info-img
            img(src="images/cause-info-img-6.jpg" loading="lazy" alt="image" width="457" height="297").d-block
          .cause-section__info-text
            .cause-section__info-text-title
              |06. Постоянный рост доходов
            .cause-section__info-text-about
              |Бизнес-модель франшизы позволяет 
              br
              |постоянно наращивать прибыль, увеличивая 
              br
              |инвестиции в закупку товара. Например, 
              br
              span в первый год работы можно вырасти 
                br
                |от 2 до 10 раз и более.
        li.animateBlockLeft
          .cause-section__info-img
            img(src="images/cause-info-img-7.jpg" loading="lazy" alt="image" width="458" height="350").d-block
          .cause-section__info-text
            .cause-section__info-text-title
              |07. Маркетплейсы 
              br
              |приближаются к насыщению
            .cause-section__info-text-about
              |Объём продаж в последние годы растёт, 
              br
              |но он не превысит ёмкость рынка. Поэтому 
              br
              |необходимо 
              span начать как можно раньше, чтобы 
                br
                |успеть «занять» ходовые товары и повысить 
                br
                |в них свою конкурентоспособность: 
              |отзывы, 
              br
              |оценки, количество продаж.
        li.animateBlockRight
          .cause-section__info-img
            img(src="images/cause-info-img-8.jpg" loading="lazy" alt="image" width="457" height="350").d-block
          .cause-section__info-text
            .cause-section__info-text-title
              |08. Ниши временно 
              br
              |освободились из-за санкций
            .cause-section__info-text-about
              |Многие бренды одежды, товаров для дома, 
              br
              |электроники и другие объявили о прекращении 
              br
              |работы на территории РФ, но при этом 
              br
              |потребность в этих товарах на рынке 
              br
              |не исчезла. 
              span Это даёт возможность 
                br
                |заработать на неудовлетворённом спросе 
                br
                |и занять место в нише.

    .cause-section__helper-info.animateBlockDown
      |Быстрый старт поможет не только раньше выйти на плановую прибыль и закрыть финансовые цели, а также 
      span занять рынок со сверхприбылью, который прощупывают все предприниматели в товарной сфере.

    .cause-section__feedback.animateBlockIn
      .feedback
        form(data-feedback-form).feedback__form
          h3.feedback__title
            |Займите свободные ниши на маркетплейсах и окупите вложения за 4 месяца
          .feedback__container
            .feedback__input
              .input
                .input__icon.input__icon--1
                  +icon(name="input-phone").d-block
                input(type="tel" name="phone" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="+7 (___) ___ ____").input__field
            .feedback__input
              .input
                .input__icon.input__icon--2
                  +icon(name="input-email").d-block
                input(type="email" name="email" placeholder="bestpartner@voltron.ru").input__field
            .feedback__input
              .input
                .input__icon.input__icon--3
                  +icon(name="input-user").d-block
                input(type="text" name="name" placeholder="Марат Шагиахметов").input__field
            .feedback__button
              button.btn(type="submit")
                span Открыть бизнес
          input(type="text" name="section-name" value="Открытая" hidden)
          input(type="text" name="section-name-text" value="Займите свободные ниши на маркетплейсах и окупите вложения за 5 месяцев" hidden)
          input(type="text" name="section-btn-text" value="Открыть бизнес" hidden)
          .feedback__agree
            label
              span.feedback__agree-checkbox
                input(name="checkbox" type="checkbox" checked="checked" disabled)
                span.feedback__agree-checkbox-icon
                  +icon(name="blue-checked").d-block
              span.feedback__agree-text
                |Я подтверждаю, что ознакомлен и даю согласие на обработку персональных данных на условиях и для целей, определяемых 
                a(href="#" data-remodal-target="privacy").agree-link Политикой конфиденциальности
