section.faq-section
  .wrapper
    .faq-section__inner
      .faq-section__container

        h2.faq-section__title.animateBlockLeft
          |Часто задаваемые 
          span.text-red вопросы

        .faq-section__description.animateBlockDown
          |Начало работы в новой сфере или с новым партнёром всегда создаёт множество вопросов. Отвечаем на самые частые.

      .faq-section__info
        ul
          li.animateBlockIn
            .faq-section__info-title.js-faq-click.faq-active
              div
                |«Почему делитесь рентабельными 
                br
                |товарами вместо того, чтобы самим 
                br
                |зарабатывать на них?»
              span
                +icon(name="arrow-bottom").d-block
            .faq-section__info-text.js-faq-content(style="display: block")
              |Есть миллионы товаров, на которых можно заработать, 
              br
              |и вложить в каждый просто нет финансовой возможности. 
              br
              |По этой же причине Wildberries и другие маркетплейсы 
              br
              |привлекают продавцов, а не торгуют самостоятельно.
          li.animateBlockIn
            .faq-section__info-title.js-faq-click
              div
                |«По каким критериям выбираете товар, 
                br
                |есть ли ограничения по выбору?»
              span
                +icon(name="arrow-bottom").d-block
            .faq-section__info-text.js-faq-content
              |Технически наша логистическая группа сможет привезти 
              br
              |любой товар из Китая. Перед заказом мы проводим анализ 
              br
              |спроса и перспективности продукции.
          li.animateBlockIn
            .faq-section__info-title.js-faq-click
              div
                |«Что я получу, если начну бизнес 
                br
                |по франшизе?»
              span
                +icon(name="arrow-bottom").d-block
            .faq-section__info-text.js-faq-content
              |По франшизе вы пройдёте обучение бизнесу 
              br
              |на маркетплейсах, будете получать рекомендации 
              br
              |по выбору и заказывать товар через нас. Всю логистику, 
              br
              |упаковку и отправку на маркетплейсы мы берём на себя.
          li.animateBlockIn
            .faq-section__info-title.js-faq-click
              div
                |«На чём вы зарабатываете, 
                br
                |если рентабельные товары 
                br
                |отдаёте партнёрам?»
              span
                +icon(name="arrow-bottom").d-block
            .faq-section__info-text.js-faq-content
              |Мы зарабатываем на ретробонусах от производителя за счёт 
              br
              |больших поставок, а также на услугах фулфилмент сервисе, 
              br
              |которым пользуются все наши партнёры. Роялти составляет 
              br
              |18 800 рублей, при этом вы экономите от 120 000 на аренде 
              br
              |собственного склада и найме персонала.
          li.animateBlockIn
            .faq-section__info-title.js-faq-click
              div
                |«Достаточно купить товар и отправить 
                br
                |на маркетплейсы, зачем покупать франшизу?»
              span
                +icon(name="arrow-bottom").d-block
            .faq-section__info-text.js-faq-content
              |В грубой схеме бизнес выглядит именно так, 
              br
              |но присутствует множество подводных камней. Например, 
              br
              |покупка неходового товара заморозит сотни тысяч 
              br
              |в товаре, который будет пылиться на складе, а за склад вы 
              br
              |ещё будете ежемесячно оплачивать аренду — это прямой 
              br
              |путь к банкротству. Мы же в этом отношении страхуем 
              br
              |партнёров, а также помогаем создать более продающие 
              br
              |карточки товара и выполняем множество других задач, 
              br
              |благодаря чему партнёры имеют пассивный заработок.
          li.animateBlockIn
            .faq-section__info-title.js-faq-click
              div
                |«Почему я не смогу купить товар 
                br
                |в Китае самостоятельно?»
              span
                +icon(name="arrow-bottom").d-block
            .faq-section__info-text.js-faq-content
              |Сейчас связи с Китаем относительно простые, но остается 
              br
              |вопрос таможни, на  который товар может задержаться 
              br
              |и сломать планы, особенно это опасно с сезонными 
              br
              |товарами и подарками на праздники. Второй нюанс — 
              br
              |это покупка в онлайн (мы покупаем в офлайн и проверяем 
              br
              |товар перед покупкой), из-за чего ожидания по качеству 
              br
              |продукта могут не сойтись.
        
        .faq-section__info-helper-description.animateBlockRight
          |Если не нашли ответ на свой вопрос, звоните или закажите звонок — менеджер позвонит и разъяснит все детали сотрудничества.

      .faq-section__manager
        img(src="images/manager-photo-phone.png" loading="lazy" alt="manager" width="536" height="843").d-block.faq-section__phone
        .faq-section__manager-container
          .faq-section__manager-photo
            img(src="images/manager-photo.png" loading="lazy" alt="manager" width="150" height="150").d-block
          .faq-section__manager-position
            div Менеджер франшизы 
            span VOLTRON
