.remodal(data-remodal-id="modal-form-city" data-remodal-options="modifier: modal-scrollable, hashTracking:false")
  .remodal__feedback
    .remodal__feedback-close(data-remodal-action="close" title="Закрыть")
      +icon(name="icon-close").svg.remodal__feedback__icon
    .form-modal.form-modal--call
      form.form-modal__feedback(data-feedback-form)
        .form-modal__info-title
          |Принять участие в экскурсии
          .form-modal__input-radio
            .feedback-input-radio
              label
                input(type="radio" name="action" checked="checked" value="приехать в Казань (в том числе на экскурсию)")
                span.feedback-input-radio__icon
                  +icon(name="blue-checked").d-block
                span.feedback-input-radio__text
                  |приехать в Казань 
                  br
                  |(в том числе на экскурсию)
            .feedback-input-radio
              label
                input(type="radio" name="action" value="пройти онлайн")
                span.feedback-input-radio__icon
                  +icon(name="blue-checked").d-block
                span.feedback-input-radio__text
                  |пройти онлайн
        .form-modal__feedback-container
          .form-modal__feedback-input
            .input
              .input__icon
                +icon(name="input-phone").d-block
              input(type="tel" name="phone" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="+7 (___) ___ ____").input__field
          .form-modal__feedback-input
            .input
              .input__icon
                +icon(name="input-user").d-block
              input(type="text" name="name" placeholder="Марат Шагиахметов").input__field
          .form-modal__feedback-input
            .input
              .input__icon
                +icon(name="input-email").d-block
              input(type="email" name="email" placeholder="bestpartner@voltron.ru").input__field
          .form-modal__button.form-modal__button--fs
            button.btn
              span Записаться на презентацию
          input(type="text" name="section-name" value="Закрытая" hidden)
          input(type="text" name="section-name-text" value="Принять участие в экскурсии" hidden)
          input(type="text" name="section-btn-text" value="Записаться на презентацию" hidden)
          .form-modal__agree
            .form-modal__agree-checkbox
              input(name="checkbox" type="checkbox" checked="checked" disabled).feedback-agree__checkbox
            .form-modal__agree-text
              |Я подтверждаю, что ознакомлен и даю согласие на обработку персональных данных на условиях и для целей, определяемых 
              a(href="#" data-remodal-target="privacy").agree-link Политикой конфиденциальности