section.partner-section
  .partner-section__content
    .wrapper
      .partner-section__inner
        .partner-section__container

          h2.partner-section__title.animateBlockDown
            |Не только наставник, 
            br
            |а также 
            span.text-red сильный партнёр

          .partner-section__info-description.animateBlockRight
            |По франшизе пройдёт вводное обучение и запуск бизнеса на маркетплейсах KazanExpress, OZON и Wildberries. Подбор товаров и операционные задачи будут выполняться командой головного офиса.

          .partner-section__info-frame.animateBlockUp
            div
              |Почему стоит стать частью команды VOLTRON и запускать товарный бизнес по франшизе:

          .partner-section__info-list
            ul.animateBlockRight
              li
                .partner-section__info-list-icon
                .partner-section__info-list-text
                  span Более 4 лет 
                  |в товарном бизнесе и e-commerce.
              li
                .partner-section__info-list-icon
                .partner-section__info-list-text
                  span 53 действующих партнёра 
                  |в сети (актуальность: 15.09.2022).
              li
                .partner-section__info-list-icon
                .partner-section__info-list-text
                  |Общий оборот франчайзинговой сети — 
                  span до 43 000 000 рублей 
                    br
                    |в месяц.
              li
                .partner-section__info-list-icon
                .partner-section__info-list-text
                  span Имеем персонализированные скидки 
                  |от поставщиков из Китая.
              li
                .partner-section__info-list-icon
                .partner-section__info-list-text
                  span Собственный софт по аналитике спроса 
                  |на маркетплейсах.
              li
                .partner-section__info-list-icon
                .partner-section__info-list-text
                  span Распределительные центры (фулфилмент центры) в Казани и Москве, 
                  |на которых хранятся товарные запасы всех партнёров.
        
        .partner-section__name.animateBlockLeft
          .partner-section__name-top
            span Марат Шагиахметов, 
            div основатель франшизы VOLTRON.
          .partner-section__name-info
            ul
              li
                div Серийный предприниматель 
              li
                div Более 10 лет руководящего опыта 
              li
                div Эксперт в поставках товаров из Китая

  .partner-section__bottom-info
    .partner-section__bottom-info-title
      span.animateBlockLeft
      div.animateBlockDown
        img(src="images/logo-text.svg" loading="lazy" alt="logo" width="147" height="26")
      span.animateBlockRight
    .partner-section__bottom-info-text.animateBlockUp
      div
        |Мы делимся авторскими наработками, потому что франшиза VOLTRON — 
      span
        |это сочетание товарной инфраструктуры (подбор, логистика, хранение и упаковка) и кооператива предпринимателей, 
        |которые инвестируют в товары и наращивают общий товарооборот бренда.
