extends ../layouts/base
include ../components/Icon
include ../components/Header
include ../components/Footer
include ../components/Connection
include ../components/Social

block body
  .page
    .page__header
      +header('', true)

    .page__content
      block content

    .page__footer
      +footer('', true)

block dev-scripts
  script(src="js/main.js")
  script(src="js/product-slider.js")
