extends ../layouts/default.pug

block content
  include ../components/MainSection
  include ../components/PartnerSection
  include ../components/CauseSection
  include ../components/ProductsSection
  include ../components/StagesSection
  include ../components/FaqSection
  include ../components/InviteSection
