.cause-section
  background-color: #F3F5F9;
  +above($breakpoints.xxxl)
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

  &__inner
    padding: 60px 0 50px 0
    +above($breakpoints.sm)
      padding: 78px 0 80px 0
    +above($breakpoints.lg)
      padding: 98px 0 110px 0

  &__title
    max-width: 302px
    margin: 0 auto 28px auto
    text-align: center
    +above($breakpoints.sm)
      max-width: 532px
    +above($breakpoints.lg)
      max-width: 744px

  &__description
    max-width: 300px
    margin: 0 auto 44px auto
    text-align: center
    font-size: 14px;
    line-height: 17px
    +above($breakpoints.sm)
      max-width: 754px
      font-size: 15px;
      line-height: 19px
    +above($breakpoints.lg)
      max-width: 1057px
      font-size: 21px;
      line-height: 32px
    span
      font-family: "Rubik-Bold"

  &__info
    margin-bottom: 42px
    overflow: hidden
    ul
      display: flex
      justify-content: center
      max-width: 290px
      width 100%
      margin: 0 auto
      flex-direction: column
      align-items: center
      margin-bottom: -38px
      +above($breakpoints.sm)
        max-width: 750px
      +above($breakpoints.lg)
        max-width: 100%
      +above($breakpoints.xxxl)
        width: 1920px
        margin: 0 auto
        flex-wrap: wrap
        flex-direction: row
        justify-content: center
      +above($breakpoints.xxxxxxl)
        justify-content: space-between
      li
        max-width: 714px
        width: 100% 
        margin-bottom: 38px
        border-radius: 8px
        overflow: hidden
        +above($breakpoints.sm)
          display: flex
          max-width: 722px
        +above($breakpoints.lg)
          max-width: 984px
        +above($breakpoints.xxxl)
          border-radius: 0 8px 8px 0
          margin-right: 20px
          max-width: 945px
        +above($breakpoints.xxxxxxl)
          margin-right: 10px
        img
          width 100%
          height: 100%
          object-fit: cover
        &:nth-child(2n)
          margin-right: 0
          +above($breakpoints.xxxl)
            border-radius: 8px 0 0 8px
            flex-direction: row-reverse
        &:nth-child(5)
          .cause-section__info-text-title
            letter-spacing: -0.02em;
        &:nth-child(7),
        &:nth-child(8)
          .cause-section__info-text
            padding: 20px
            color: white
            position relative
            z-index 1
            +above($breakpoints.lg)
              padding: 27px 30px 32px 30px;
            span
              background: none
              -webkit-background-clip: unset
              -webkit-text-fill-color: unset
              background-clip: unset
              text-fill-color: unset
              text-decoration: underline
            &:before
              content: ""
              position: absolute
              top: 0
              bottom: 0
              left: 0
              right: 0
              background: linear-gradient(93.7deg, #EB526E 10.26%, #EB593F 97.33%);
              z-index -1
        &:nth-child(7)
          .cause-section__info-img
            height: 234px
            +above($breakpoints.lg)
              height: 318px
          .cause-section__info-text
            &:before
              transform: matrix(-1, 0, 0, 1, 0, 0);

        &:nth-child(8)
          .cause-section__info-img
            height: 234px
            +above($breakpoints.lg)
              height: 323px
          .cause-section__info-text-about
            br
              display: none
              +above($breakpoints.lg)
                display: block
  &__info-img
    max-width: 320px;
    width: 100%;
    height: auto
    +above($breakpoints.lg)
      max-width: 442px;

    +above($breakpoints.xxxl)
      max-width: 457px
      height: 297px

  &__info-text
    padding: 20px 19px
    background: white
    width 100%
    +above($breakpoints.lg)
      padding: 60px 13px 48px 30px
    span
      font-family: "Rubik-Bold"
      background: linear-gradient(93.7deg, #EB526E 10.26%, #EB593F 97.33%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

  &__info-text-title
    font-size: 15px
    line-height: 20px
    font-family: "Rubik-Bold"
    margin-bottom: 10px
    +above($breakpoints.sm)
      font-size: 16px
      line-height: 22px
    +above($breakpoints.lg)
      font-size: 21px
      line-height: 25px
      margin-bottom: 18px

  &__info-text-about
    font-size: 14px
    line-height: 18px
    +above($breakpoints.sm)
      font-size: 15px
      line-height: 20px
    +above($breakpoints.lg)
      font-size: 18px
      line-height: 28px

  &__helper-info
    font-size: 14px
    line-height: 18px
    text-align: center
    max-width: 287px
    margin: 0 auto 45px auto
    +above($breakpoints.sm)
      max-width: 662px
      font-size: 15px
      line-height: 19px
    +above($breakpoints.lg)
      max-width: 1115px
      font-size: 21px
      line-height: 32px
    span
      font-family: "Rubik-Bold"

  &__feedback
    max-width: 1140px
    margin: 0 auto
