.wrapper
  max-width: 300px
  margin: 0 auto
  width 100%
  +above($breakpoints.sm)
    max-width: 760px
  +above($breakpoints.lg)
    max-width: 1140px

.d-flex
  display: flex

.d-block
  display: block

.d-i-block
  display: inline-block
